/* Grid based simple css, I really don’t like how this looks,*/

ul.yamlcv {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 10px;
}
li.yamlcv {
    display: grid;
    grid-template-columns:subgrid;
    grid-column-start: 1;
    grid-column-end: 5;
    
}
li.yamlcv div.yamlcv-item {
    display: grid;
    grid-template-columns:subgrid;
    grid-column-start: 1;
    grid-column-end: 5;
}

li.yamlcv div .yamlcv-date {
    grid-column: 1;
}

li.yamlcv div .yamlcv-content {
    display: grid;
    grid-template-columns:subgrid;
    grid-column-start: 2;
    grid-column-end: 5;
}
